This PR was created using Backstage. The request ID is `{{requestId}}`.

<!-- ### Client Name Email address -->

### GCP Project

**Folder Name:** {{folderName}}
**Project Name:** {{projectName}}
**Project ID:** {{projectId}}
**Data Classification:** {{dataClassification}}

### Administrative Details

**Cost Centre:** {{costCentre}}
**Justification:** {{justification}}
**Section 32 Manager Email:** {{section32ManagerEmail}}
**Service Owners:** {{owners | map('email') | join(', ')}}
**Editors:** {{editors | map('email') | join(', ')}}

### Billing Details

**Budget Amount:** {{budgetAmount}}
**Budget Alert Email Recipients:** {{budgetAlertEmailRecipients}}