This PR was created using Backstage.

**Request ID:** `{{requestId}}`
**Requested By:** {{requestEmail}}

### GCP Project

**Project Name:** {{projectName}}
**Project ID:** {{projectId}}
**Data Classification:** {{dataClassificationTitle}}

### Administrative Details

**Cost Centre:** {{costCentre}}
**Cost Centre Name:** {{costCentreName}}
**Justification:** {{justification}}
**Section 32 Manager Email:** {{section32ManagerEmail}}
**Editors:** {{editors | map('email') | join(', ')}}
**Viewers:** {{viewers | map('email') | join(', ')}}

### Budget

**Annual Budget Amount (CAD):** {{formattedBudgetAmount}}
**Budget Alert Email Recipients:** {{budgetAlertEmailRecipients | join(', ')}}
{% block child %}{% endblock %}