This PR was created using Backstage.

**Request ID:** `{{requestId}}`
**Requested By:** {{requestEmail}}

### GCP Project

**Project Name:** {{projectName}}
**Project ID:** {{projectId}}
**Data Classification:** {{dataClassificationTitle}}

### Team

**Editors:** {{editors | join(', ')}}
**Viewers:** {{viewers | join(', ')}}

### Administrative Details

**Department:** {{department}}
**Branch:** {{branch}}
**Team Name:** {{teamName}}
**Cost Centre:** {{costCentre}}
**Cost Centre Name:** {{costCentreName}}
**Section 32 Manager Email:** {{section32ManagerEmail}}
**Justification:** {{justification}}

### Budget

**Annual Budget Amount (CAD):** {{formattedBudgetAmount}}
**Pricing Structure**: Subscription
**Budget Alert Email Recipients:** {{budgetAlertEmailRecipients | join(', ')}}
{% block child %}{% endblock %}