This PR was created using Backstage. The request ID is `{{requestId}}`.

<!-- ### Client Name Email address -->

### GCP Project

**Project Name:** {{projectName}}
**Project ID:** {{projectId}}
**Data Classification:** {{dataClassificationTitle}}

### Administrative Details

**Cost Centre:** {{costCentre}}
**Cost Centre Name:** {{costCentreName}}
**Justification:** {{justification}}
**Section 32 Manager Email:** {{section32ManagerEmail}}
**Owners:** {{owners | map('email') | join(', ')}}
**Editors:** {{editors | map('email') | join(', ')}}

### Budget

**Annual Budget Amount (CAD):** {{formattedBudgetAmount}}
**Budget Alert Email Recipients:** {{budgetAlertEmailRecipients | join(', ')}}
{% block child %}{% endblock %}