---
apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
  name: ${{values.projectId}}
  title: ${{values.projectName}}
  annotations:
    backstage.io/source-location: https://github.com/PHACDevHub/sci-portal-users/${{values.sourceLocation}}
    backstage.io/source-template: template:default/project-create
    cloud.google.com/project: ${{values.projectId}}
    data-science-portal.phac-aspc.gc.ca/budget-alert-recipients: ${{values.budgetAlertEmailRecipients | join(',')}}
spec:
  type: project
  owner: ${{values.catalogEntityOwner}}

---
apiVersion: backstage.io/v1alpha1
kind: Group
metadata:
  name: ${{values.projectId}}-editors
  title: ${{values.projectName}} Editors
  annotations:
    cloud.google.com/project: ${{values.projectId}}
spec:
  type: team
  children: []
  members:
    {%- for member in values.editors %}
    - ${{member.ref}}
    {%- endfor %}
