---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{values.projectId}}
  title: ${{values.projectName}}
  annotations:
    backstage.io/source-location: https://github.com/PHACDevHub/sci-portal-users/${{values.sourceLocation}}
    backstage.io/source-template: template:default/rad-lab-data-science-create
    cloud.google.com/project-id: ${{values.projectId}}
    cloud.google.com/project-name: ${{values.projectName}}
    data-science-portal.phac-aspc.gc.ca/budget-alert-recipients: ${{values.budgetAlertEmailRecipients | join(',')}}
  links:
    - title: View Managed Notebooks on Google Cloud
      url: https://console.cloud.google.com/vertex-ai/workbench/managed?project=${{values.projectId}}
spec:
  type: rad-lab-module
  owner: ${{values.catalogEntityOwner}}
  lifecycle: experimental

---
apiVersion: backstage.io/v1alpha1
kind: Group
metadata:
  name: ${{values.projectId}}-editors
  title: ${{values.projectName}} Editors
  annotations:
    cloud.google.com/project-id: ${{values.projectId}}
    cloud.google.com/project-name: ${{values.projectName}}
spec:
  type: team
  children: []
  members:
    {%- for member in values.editors %}
    - ${{member.ref}}
    {%- endfor %}

---
apiVersion: backstage.io/v1alpha1
kind: Group
metadata:
  name: ${{values.projectId}}-viewers
  title: ${{values.projectName}} Viewers
  annotations:
    cloud.google.com/project-id: ${{values.projectId}}
    cloud.google.com/project-name: ${{values.projectName}}
spec:
  type: team
  children: []
  {%- if (values.viewers | length) == 0 %}
  members: []
  {%- else %}
  members:
    {%- for member in values.viewers %}
    - ${{member.ref}}
    {%- endfor %}
  {%- endif %}
