---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{values.projectId}}
  title: ${{values.projectName}}
  annotations:
    backstage.io/source-location: https://github.com/PHACDevHub/sci-portal-users/${{values.sourceLocation}}
    backstage.io/source-template: template:default/rad-lab-data-science-create
    cloud.google.com/project: ${{values.projectId}}
    data-science-portal.phac-aspc.gc.ca/budget-alert-recipients: ${{values.budgetAlertEmailRecipients | join(',')}}
  links:
    - title: View Managed Notebooks on Google Cloud
      url: https://console.cloud.google.com/vertex-ai/workbench/managed?project=${{values.projectId}}
spec:
  type: rad-lab-module
  owner: ${{values.catalogEntityOwner}}
  lifecycle: experimental
