---
apiVersion: data-science-portal.phac-aspc.gc.ca/v1alpha1
kind: RadLabDataScienceClaim
metadata:
  name: ${{values.projectName}}-${{values.requestId}}
spec:
  rootFolderId: '${{values.rootFolderId}}'
  projectName: ${{values.projectName}}
  projectId: ${{values.projectId}}
  labels:
  {%- for key, value in values.projectLabels %}
    ${{ key }}: '${{ value }}'
  {%- endfor %}
  projectEditors:
  {%- for editor in values.editors %}
    - user:${{editor}}
  {%- endfor %}
  projectViewers:
  {%- for viewer in values.viewers %}
    - user:${{viewer}}
  {%- endfor %}
